.royal-maindiv {
    background-image: url('../assets/aster-royal-banner-desktop-downtown.png');
    width: 100%;
    height: 98vh;
    background-color: #0F4FA5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 7px solid #E4AE2B;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 9px 11px -5px rgba(228, 174, 43, 0.6);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .royal-maindiv {
        background-image: url('../assets/aster-royal-banner-mobile-downtown.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 34vh;
        padding: 20px;
        background-size: contain; 
        background-position: center;
        background-repeat: no-repeat;
        background-color: #0F4FA5;
    }

    .royal-bannerformcontainer {
        display: none !important;
    }

    .royal-lhs-text h2 {
        font-size: 1.25rem;
    }

    .royal-lhs-text h2 span {
        font-size: 2rem;
    }


}

.royal-logo img {
    position: absolute;
    width: 250px;
    height: auto;
    top: 6%;
    left: 6%;
}

.royal-iframh2 {
    color: #E4AE2B;
    font-size: 1.625rem;
    text-align: center;

}

.royal-bannerformcontainer {

    /* background-color: rgba(51, 79, 238, 0.2); */
    /* backdrop-filter: blur(10px); */
    background-color: white;
    width: 330px;
    position: absolute;
    top: 21%;
    right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: 1rem;

    border-bottom: 5px solid #E4AE2B;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    box-shadow: 0 7px 10px -4px rgba(228, 174, 43, 0.6);

    z-index: 2;

}

.royal-iframecontainer {
    width: 100%;
    height: 40vh;

}

.royal-lhs-text h2 {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    /* width: 250px; */
    height: auto;
    top: 48%;
    left: 6%;
}



.goldenunderline {
    position: absolute;
    border-bottom: 3px solid #E4AE2B;
    top: 62%;
    left: 20%;
    width: 250px;
}