.insurance-maindiv-royal{
    width: 100%;
    position: relative;
    padding-bottom: 50px ;
}

.contentpart-royal {
    max-width: 1100px;
    margin: 0 auto;   
}

.contentpart-royal h3 {
    font-size: 1.5rem;
    color: #E4AE2B;
}

.contentpart-royal p {
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
}



/* Media query for mobile devices */
@media (max-width: 768px) {
    .royal-bg-bl {
        width: 350px;
        height: 177px;
    }

    .contentpart-royal {
        margin-left: 10px;
    }

    .insurance-maindiv-royal {
        padding-bottom: 20px ;

    }
}